.stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    column-gap: 10px;
}

@media screen and (max-width:900px) {
    .stars {
        column-gap: 5px;
    }
}

@media screen and (max-width:736px) {
    .etoile {
        width: 15px;
        height: 15px;
    }
}