/*tags*/
.tags {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  
  .tag {
    background: #ff6060;
    border-radius: 10px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 10px; */
  }
  
  .tag-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    /* identical to box height, or 20px */
  
    text-align: center;
  
    color: #ffffff;
    margin: 3px;
    padding: 5px;
  }

  @media screen and (max-width:736px) {
    .tag-text {
      font-size: 10px;
    }
  }